@page
@model ASPCorePractice.Pages.NameInputModel
@{
    ViewData["Title"] = "NameInput";
}

<h2>NameInput</h2>

<h3>The time on the server is @DateTime.Now</h3>

<p>
    Enter your name.
</p>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div>Name: <input asp-for="name" /></div>
    <input type="submit" />
</form>

<div id="result">@this.Model.name</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

